Repository SBNSoftware/sbndcode, pull requests merged in 2024-08, with the labels that each got.

#483 CRT Decoder Updates
  sbndcode/ChannelMaps/CRT/SBNDCRTChannelMap_v6.txt
  sbndcode/Decoders/CRT/CRTDecoder_module.cc
Labels: crt

#484 Run reco1 with SPINE
  sbndcode/JobConfigurations/standard/reco/config/workflow_reco1.fcl
  sbndcode/JobConfigurations/standard/reco/reco1_data.fcl
  sbndcode/LArSoftConfigurations/mlreco_sbnd.fcl
Labels: enhancement

#486 Add frame number, sample number, and artdaq fragment timestamp to TPCDecodeAna data product
  sbndcode/Decoders/TPC/SBNDTPCDecoder_module.cc
  sbndcode/Decoders/TPC/TPCDecodeAna.h
  sbndcode/Decoders/TPC/classes_def.xml
Labels: tpc

#489 PMT Decoder: change timestamp units from ns to us
  sbndcode/Decoders/PMT/SBNDPMTDecoder_module.cc
Labels: bug

#487 Bad channels from data, and a data-specific sbnd_services block
  sbndcode/JobConfigurations/base/evd_sbnd_data.fcl
  sbndcode/JobConfigurations/standard/reco/reco1_data.fcl
  sbndcode/JobConfigurations/standard/reco/reco2_data.fcl
  sbndcode/LArSoftConfigurations/services_sbnd.fcl
  sbndcode/Utilities/badchannels_sbnd.fcl
  sbndcode/Utilities/channelstatus_sbnd.fcl
Labels: enhancement

#493 Keep cluster3d after reco1
  sbndcode/JobConfigurations/base/reco_drops.fcl
Labels: enhancement, reco1/reco2

#495 reco2 with calibration ntuple
  sbndcode/JobConfigurations/standard/reco/reco2_data_calib.fcl
Labels: reco1/reco2

#494 EMB Recombination in Sim+Reco
  sbndcode/JobConfigurations/standard/g4/g4_modbox.fcl
  sbndcode/LArG4/legacy_simulationservices_sbnd.fcl
  sbndcode/LArSoftConfigurations/calorimetry_sbnd.fcl
  sbndcode/LArSoftConfigurations/simulationservices_sbnd.fcl
Labels: simulation, reco1/reco2
