Repository SBNSoftware/sbndcode, pull requests merged in 2024-09, with the labels that each got.

#508 Update script used by fcl_checks_sbndcode CI regression test to make it token compliant
  test/ci/fcl_checks.sh
Labels: enhancement

#512 Add calorimetry and pandoraShowerSBN modules for data.
  sbndcode/JobConfigurations/standard/reco/reco2_data.fcl
  sbndcode/JobConfigurations/standard/reco/reco2_data_calib.fcl
Labels: reco1/reco2

#513 filter module for choppy events
  sbndcode/Calibration/CMakeLists.txt
  sbndcode/Calibration/DQM/CMakeLists.txt
  sbndcode/Calibration/DQM/FilterChoppy_module.cc
  sbndcode/Calibration/DQM/dropchoppy.fcl
  sbndcode/Calibration/DQM/streamchoppy.fcl
Labels: tpc

#499 Feature/lkashur crt colwires gdml fix
  sbndcode/ChannelMaps/TPC/SBNDTPCChannelMap_v2.txt
  sbndcode/ChannelMaps/TPC/TPCChannelMapService.fcl
  sbndcode/Geometry/GeometryWrappers/CRTGeoAlg.h
  sbndcode/Geometry/gdml/sbnd_v02_02.gdml
  sbndcode/Geometry/gdml/sbnd_v02_02_base.gdml
  sbndcode/Geometry/gdml/sbnd_v02_02_nowires.gdml
  sbndcode/Geometry/geometry_sbnd.fcl
  sbndcode/Utilities/badchannels_sbnd.fcl
  sbndcode/Utilities/channelstatus_sbnd.fcl
Labels: geometry, simulation

#511 Reco2 pandoraCalo and pandoraPID with initial calibration constants from data
  sbndcode/JobConfigurations/base/reco_sbnd.fcl
  sbndcode/JobConfigurations/standard/reco/reco2_data.fcl
  sbndcode/LArSoftConfigurations/calorimetry_sbnd.fcl
Labels: reco1/reco2

#475 Feature/bethanym hit dumper pr
  sbndcode/Commissioning/HitDumper_module.cc
  sbndcode/Commissioning/fcls/hitdumpermodule.fcl
  sbndcode/Commissioning/fcls/reco1_comm_muontrack_crtreco.fcl
  sbndcode/Commissioning/fcls/run_muontrack.fcl
  sbndcode/Commissioning/fcls/run_muontrack_crtreco.fcl
Labels: crt

#514 Electron lifetime to 100 ms in wcsimsp_sbnd.fcl & detectorproperties_sbnd.fcl
  sbndcode/Utilities/detectorproperties_sbnd.fcl
  sbndcode/WireCell/wcsimsp_sbnd.fcl
Labels: simulation, detsim, reco1/reco2

#518 CI Fix for v09_91_00
  sbndcode/JobConfigurations/standard/caf/cafmakerjob_sbnd.fcl
Labels: test, caf

#521 Turn down the verbosity of modules with many lines
  sbndcode/LArSoftConfigurations/messages_sbnd.fcl
Labels: maintenance

#517 Adding electronics response calibration + wire # bugfix
  sbndcode/Commissioning/HitDumper_module.cc
  sbndcode/WireCell/cfg/pgrapher/experiment/sbnd/wcls-nf-sp-data.jsonnet
  sbndcode/WireCell/cfg/pgrapher/experiment/sbnd/wcls-nf-sp.jsonnet
  sbndcode/WireCell/cfg/pgrapher/experiment/sbnd/wcls-sim-drift-depoflux-nf-sp.jsonnet
  sbndcode/WireCell/cfg/pgrapher/experiment/sbnd/wcls-sim-drift-simchannel-nf-sp.jsonnet
  sbndcode/WireCell/wcsp_data_sbnd.fcl
Labels: bug, geometry, tpc

#504 CRT Offline - Geometry
  sbndcode/CRT/CRTAna/CRTAnalysis_module.cc
  sbndcode/CRT/CRTAna/CRTCalibAna_module.cc
  sbndcode/CRT/CRTAna/run_crtana.fcl
  sbndcode/CRT/CRTBackTracker/CRTBackTrackerAlg.cc
  sbndcode/CRT/CRTBackTracker/CRTBackTrackerAlg.h
  sbndcode/CRT/CRTEventDisplay/crteventdisplayalg_sbnd.fcl
  sbndcode/CRT/CRTReco/CRTClusterCharacterisationAlg.cc
  sbndcode/CRT/CRTReco/CRTClusterProducer_module.cc
  sbndcode/CRT/CRTReco/CRTStripHitProducer_module.cc
  sbndcode/CRT/CRTReco/CRTTrackProducer_module.cc
  sbndcode/CRT/CRTReco/crtrecoproducers_sbnd.fcl
  sbndcode/CRT/CRTSimulation/CRTDetSimAlg.cxx
  sbndcode/CRT/CRTSimulation/CRTDetSimParams.h
  sbndcode/CRT/CRTSimulation/crtsimmodules_sbnd.fcl
  sbndcode/Commissioning/fcls/hitdumpermodule.fcl
  sbndcode/Geometry/GeometryWrappers/CMakeLists.txt
  sbndcode/Geometry/GeometryWrappers/CRTGeoAlg.cc
  sbndcode/Geometry/GeometryWrappers/CRTGeoAlg.h
  sbndcode/Geometry/GeometryWrappers/crtgeoalg_sbnd.fcl
  sbndcode/Trigger/ArtdaqFragmentProducer_module.cc
  sbndcode/Trigger/CRT/CRTArtdaqFragmentProducer.fcl
  sbndcode/Trigger/CRT/CRTArtdaqFragmentProducer_module.cc
  sbndcode/Trigger/artdaqfragmentproducer.fcl
Labels: crt, geometry

#503 CRT Offline - Reco
  sbndcode/CRT/CRTReco/CMakeLists.txt
  sbndcode/CRT/CRTReco/CRTClusterCharacterisationAlg.cc
  sbndcode/CRT/CRTReco/CRTClusterCharacterisationAlg.h
  sbndcode/CRT/CRTReco/CRTClusterProducer_module.cc
  sbndcode/CRT/CRTReco/CRTStripHitProducer_module.cc
  sbndcode/CRT/CRTReco/CRTTrackProducer_module.cc
  sbndcode/CRT/CRTReco/crtrecoproducers_sbnd.fcl
  sbndcode/CRT/CRTReco/run_crtreco_data.fcl
Labels: crt, reco1/reco2

#501 CRT Offline - Ana
  sbndcode/CRT/CRTAna/CMakeLists.txt
  sbndcode/CRT/CRTAna/CRTAnalysis_module.cc
  sbndcode/CRT/CRTAna/CRTCalibAna_module.cc
  sbndcode/CRT/CRTAna/run_crtana_data.fcl
  sbndcode/Calibration/CRT/crtskim_sbnd.fcl
Labels: crt

#500 CRT Offline - Misc
  sbndcode/CRT/CRTBackTracker/CRTBackTrackerAlg.cc
  sbndcode/CRT/CRTBackTracker/CRTBackTrackerAlg.h
  sbndcode/CRT/CRTBackTracker/crtbacktrackeralg_sbnd.fcl
  sbndcode/CRT/CRTEventDisplay/CRTEventDisplayAlg.cc
  sbndcode/CRT/CRTEventDisplay/CRTEventDisplayAlg.h
  sbndcode/CRT/CRTEventDisplay/CRTEventDisplay_module.cc
  sbndcode/CRT/CRTEventDisplay/crteventdisplay_sbnd.fcl
  sbndcode/CRT/CRTEventDisplay/crteventdisplayalg_sbnd.fcl
  sbndcode/CRT/CRTEventDisplay/run_crteventdisplay.fcl
  sbndcode/CRT/CRTEventDisplay/run_crteventdisplay_data.fcl
  sbndcode/CRT/CRTSimulation/CRTDetSimAlg.cxx
  sbndcode/CRT/CRTSimulation/CRTDetSimAlg.h
  sbndcode/CRT/CRTSimulation/CRTDetSimParams.h
  sbndcode/CRT/CRTTPCMatching/CRTSpacePointMatchAlg.cc
  sbndcode/CRT/CRTTPCMatching/CRTSpacePointMatchAlg.h
  sbndcode/CRT/CRTTPCMatching/CRTTrackMatchAlg.cc
  sbndcode/CRT/CRTTPCMatching/CRTTrackMatchAlg.h
  sbndcode/CRT/CRTTPCMatching/crttpcmatchingproducers_sbnd.fcl
  sbndcode/ToFStudies/ToFAnalyzer_module.cc
  sbndcode/ToFStudies/ToFProducer_module.cc
Labels: maintenance, crt
