Repository SBNSoftware/sbndcode, pull requests merged in 2025-08, with the labels that each got.

#767 Add pmt variations fcls
  sbndcode/JobConfigurations/standard/detsim/detector_variations/CMakeLists.txt
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/CMakeLists.txt
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTGainFluct.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTGainFluct_HighNoise.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTGainFluct_HighNoise_LowEff.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTGainFluct_LowEff.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTHighNoise.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTHighNoise_LowEff.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTLowEff.fcl
Labels: detsim

#781 Add pmt detvar fcls
  sbndcode/JobConfigurations/base/detsim_drops.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/CMakeLists.txt
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/CMakeLists.txt
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTGainFluct.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTGainFluct_HighNoise.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTGainFluct_HighNoise_LowEff.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTGainFluct_LowEff.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTHighNoise.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTHighNoise_LowEff.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/pmt_variations/standard_detsim_sbnd_PMTLowEff.fcl
  sbndcode/JobConfigurations/standard/detsim/detsim_detvar.fcl
  sbndcode/JobConfigurations/standard/detsim/detsim_detvar_PDSonly.fcl
  sbndcode/JobConfigurations/standard/scrubs/scrub_PDS_detsim_reco1.fcl
Labels: detsim

#787 Add detvar fcls to avoid the error for same process being run twice
  sbndcode/JobConfigurations/standard/detsim/detector_variations/detsim_detvar_PDSonly_sbnd.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/detsim_detvar_sbnd.fcl
  sbndcode/JobConfigurations/standard/g4/g4_detvar_sbnd.fcl
  sbndcode/JobConfigurations/standard/reco/detector_variations/reco1_detvar_sbnd.fcl
  sbndcode/JobConfigurations/standard/scrubs/scrub_PDS_detsim_reco1.fcl
Labels: maintenance, simulation, detsim, reco1/reco2

#782 new dead channel -- died August 5, 2025, starting with run 18837
  sbndcode/Utilities/badchannels_sbnd.fcl
Labels: tpc, detsim, data

#785 CRT File Size Cut
  sbndcode/CRT/CRTReco/CRTStripHitProducer_module.cc
  sbndcode/CRT/CRTReco/crtrecoproducers_sbnd.fcl
Labels: enhancement, crt, reco1/reco2
