Repository SBNSoftware/sbndcode, pull requests merged in 2025-10, with the labels that each got.

#837 Update diffusion fcls to be consistent with detvar workflows
  sbndcode/JobConfigurations/standard/detsim/detector_variations/standard_detsim_sbnd_no_diffusion.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/standard_detsim_sbnd_no_longitudinal_diffusion_detvar.fcl
  sbndcode/JobConfigurations/standard/detsim/detector_variations/standard_detsim_sbnd_no_transverse_diffusion_detvar.fcl
Labels: bug, detsim

#832 Fix pfp ordering when using SCE products
  sbndcode/LightPropagationCorrection/LightPropagationCorrection_module.cc
Labels: bug

#830 Feature/trigger work nikki pr
  sbndcode/Decoders/PMT/CMakeLists.txt
  sbndcode/Decoders/PMT/SBNDPMTDecoder_module.cc
  sbndcode/Decoders/PMT/pmtdecoder.fcl
  sbndcode/Decoders/PMT/run_pmtdecoder.fcl
  sbndcode/LArSoftConfigurations/services_sbnd.fcl
  sbndcode/OpDetSim/BeamRatesCalib_Defaults.fcl
  sbndcode/OpDetSim/BeamRatesCalib_module.cc
  sbndcode/OpDetSim/CMakeLists.txt
  sbndcode/OpDetSim/TriggerEmulationService.cc
  sbndcode/OpDetSim/TriggerEmulationService.h
  sbndcode/OpDetSim/TriggerEmulationService_service.cc
  sbndcode/OpDetSim/opDetDigitizerSBND_module.cc
  sbndcode/OpDetSim/opdetdigitizer_sbnd.fcl
  sbndcode/OpDetSim/run_BeamRatesCalib.fcl
  sbndcode/OpDetSim/triggeremulationservice_sbnd.fcl
Labels: detsim, trigger

#841 Updates to CMakeLists
  sbndcode/OpDetSim/CMakeLists.txt
Labels: trigger
