Repository SBNSoftware/sbndcode, pull requests merged in 2025-03, with the labels that each got.

#626 Add possible HLTs for CRT time referencing
  sbndcode/CRT/CRTReco/crtrecoproducers_sbnd.fcl
Labels: crt, reco1/reco2, data

#641 CRT Channel Status
  sbndcode/CRT/CRTReco/CRTStripHitProducer_module.cc
  sbndcode/Calibration/CRT/CalibService/CMakeLists.txt
  sbndcode/Calibration/CRT/CalibService/CRTCalibService.h
  sbndcode/Calibration/CRT/CalibService/CRTCalibService_service.cc
  sbndcode/Calibration/CRT/CalibService/SBNDCRTBadChannels_v1.txt
  sbndcode/Calibration/CRT/CalibService/crt_calib_service.fcl
  sbndcode/Geometry/GeometryWrappers/CRTGeoAlg.cc
  sbndcode/Geometry/GeometryWrappers/CRTGeoAlg.h
Labels: crt, data

#643 Change CRT in calib ntuples
  sbndcode/CRT/CRTAna/CRTAnalysis_module.cc
  sbndcode/CRT/CRTAna/CRTCalibAna_module.cc
  sbndcode/CRT/CRTAna/crtana_sbnd.fcl
  sbndcode/CRT/CRTAna/run_crtana.fcl
  sbndcode/CRT/CRTAna/run_crtana_data.fcl
  sbndcode/Calibration/CRT/CMakeLists.txt
  sbndcode/Calibration/CRT/crtskim_sbnd.fcl
  sbndcode/JobConfigurations/standard/reco/config/workflow_reco2.fcl
  sbndcode/JobConfigurations/standard/reco/reco2_data.fcl
Labels: crt

#644 Add saving picosecond value in decoded TDC
  sbndcode/Decoders/SPECTDC/SPECTDCDecoder_module.cc
Labels: enhancement, data

#647 Add fcls to run OpT0Finder on data
  sbndcode/JobConfigurations/standard/reco/reco2_data.fcl
  sbndcode/OpT0Finder/SBNDOpT0Finder_module.cc
  sbndcode/OpT0Finder/job/opt0finder_sbnd.fcl
  sbndcode/OpT0Finder/job/opt0finder_sbnd_data.fcl
  sbndcode/OpT0Finder/job/run_opt0finder_sbnd_data.fcl
Labels: data

#657 Add fcl configuration TwoBodyAnisotropyIncludeInterference to match s…
  sbndcode/JobConfigurations/standard/gen/MeVPrtl/hnl_config.fcl
Labels: enhancement

#661 Use doublets in Cluster3D
  sbndcode/LArSoftConfigurations/cluster_sbnd.fcl
Labels: reco1/reco2

#668 Feature/sungbin emb4data
  sbndcode/LArSoftConfigurations/calorimetry_sbnd.fcl
Labels: reco1/reco2

#671 Ensure deposits from all CRT types are retained when merging multiple geant outputs
  sbndcode/LArG4/mergesimsources_sbnd.fcl
Labels: bug, crt, simulation

#672 Stop pretending to simulate the PPS
  sbndcode/CRT/CRTSimulation/CRTDetSimAlg.cxx
Labels: crt, detsim

#674 Adding data workflow into the CI
  test/ci/ci_tests.cfg
  test/ci/sbnd_ci_data_offBeamZeroBias_caf_quick_test_sbndcode.fcl
  test/ci/sbnd_ci_data_offBeamZeroBias_caf_seq_test_sbndcode.fcl
  test/ci/sbnd_ci_data_offBeamZeroBias_decoders_quick_test_sbndcode.fcl
  test/ci/sbnd_ci_data_offBeamZeroBias_decoders_seq_test_sbndcode.fcl
  test/ci/sbnd_ci_data_offBeamZeroBias_reco1_quick_test_sbndcode.fcl
  test/ci/sbnd_ci_data_offBeamZeroBias_reco1_seq_test_sbndcode.fcl
  test/ci/sbnd_ci_data_offBeamZeroBias_reco2_quick_test_sbndcode.fcl
  test/ci/sbnd_ci_data_offBeamZeroBias_reco2_seq_test_sbndcode.fcl
Labels: test

#676 CRT Calib Fix
  sbndcode/JobConfigurations/base/reco_sbnd.fcl
Labels: crt
